body {   
    /* when i write * the tile appears in the screen why ???? */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.loader {
    /* when do I use ul li  */
    display: flex;
    justify-content: space-between;
    width: 150px;

}

.circle {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: grow 1s infinite ease-in-out, colorChange 3s infinite ease-in-out;
}
/* I tried to name the classes into 5 classes first second third ... but it didnt workk!! */

.circle:nth-child(1) {
    animation-delay: 0s, 0s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s, 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.4s, 0.4s;
}

.circle:nth-child(4) {
    animation-delay: 0.6s, 0.6s;
}

.circle:nth-child(5) {
    animation-delay: 0.8s, 0.8s;
}

@keyframes grow {
    /* 0%, 100% {
        transform: scale(1); OPTIONAL!!
    } */
    50% {
        transform: scale(1.5);
    }
}

@keyframes colorChange {
    0% {
        background-color: #39ff14;
    }
    33% {
        background-color: #00ccff;
    }
    66% {
        background-color: #1e90ff; 
    }
    100% {
        background-color: #3498db;
    }
}
